.App__title {
  text-align: center;
  font-weight: 600;
  position: relative;
}

.App__header_container {
  position: relative;
}

.App__archived_title {
  position: absolute;
  top: 0;
  right: 1em;
  text-decoration: underline;
  cursor: pointer;
}